<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <File name="TxtAppender" fileName="logs/project.log" append="false">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c - %m%n"/>
        </File>
        <Console name="ConsoleAppender" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{dd.MM.yyyy HH:mm:ss} [%t] %-5p %c - %m%n"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.shitikov.project" level="debug"/>
        <Root level="debug">
            <AppenderRef ref="TxtAppender"/>
            <AppenderRef ref="ConsoleAppender"/>
        </Root>
    </Loggers>
</Configuration>